.dados-cartao {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

span.num-cartao {
    align-items: center;
    font-size: 20px;
    position: relative;
    top: 10px;
    width: 300px;
}

.nome-validade {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 50px;
    position: relative;
    font-size: 16px;
}

.nome-cartao {
    flex-wrap: wrap;
    text-transform: uppercase;
}

.validade-cartao {
    display: inline;

}

.cartao img {
    display: inline-block;
}

.img-pag {
    display: inline;
    margin: 0 280px;
    position: relative;
    bottom: 20px;
}

.cartao span {
    background: transparent;
    color: var(--cinza-claro);
    border: none;
    margin: 5px 0;
}

.cartao{
    margin: 28px 0 0 80px;
    border: solid grey 0.5px;
    padding: 20px 15px;
    background-image: url(../images/Background\ Blur.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.9rem;
    width: 19rem;
    height: 10rem;
    z-index: 1;
}

.back {
    position: absolute;
    top: 0;
    margin: 28px 0 0 80px;
    border: solid grey 0.5px;
    padding: 20px 15px;
    background-image: url(../images/Background\ Blur.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.9rem;
    width: 19rem;
    height: 10rem;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
}

.face {
    width: 19rem;
    height: 10rem;
    perspective: 700px;
    padding: 0 0;
}
  
.cartao, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 700ms;
}

.black-tag {
    background-color: black;
    position: absolute;
    right:0px;
    width: 20.9rem;
    height: 2.2rem;
    padding: 0 0 0 0;
}

.cvv-back {
    width: 200px;
    height: 15px;
    background-color: var(--cinza-claro);
    font-size: 16px;
    color: var(--cinza-escuro);
    position: relative;
    right: 30px;
    margin: 80px auto;
    text-align: end;
    align-items: start;
    padding: 10px 15px;
}

.back p {
    color: var(--cinza-claro);
    font-size: 16px;
    font-weight: 600;
    position: relative;
    bottom:108px;
    text-align: end;
    margin: 0 15px;
}

