@import url("cartao.css");

:root {
    --azul-escuro: #111827;
    --cinza-escuro: #374151;
    --branco: #FFFFFF;
    --cinza-claro: #D1D5DB;
    --fonte-principal: 'Source Sans Pro', sans-serif;
    --roxo: #9333EA; 
}


body {
    background-color: var(--azul-escuro);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: var(--fonte-principal);
    overflow: hidden;
}

main {
    background-color: var(--cinza-escuro);
    display: flex;
    width: 47rem;
    height: 28rem;
    padding: 2rem;

}

.inserir {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 600;
    color: var(--branco);
    position: relative;
}

.inserir input {
    width: 328px;
    height: 48px;
    background-color: var(--azul-escuro);
    color: var(--branco);
    font-weight: 400;
    margin: 5px 0 30px;
}


#validade {
    width: 182px;
    display: flex;
    flex-direction: row;
}

#cvv {
    width: 130px;
    display: flex;
}

#enviar {
    width: 755px;
    position: absolute;
    top: 420px;
    background-color: var(--roxo);
    color: var(--branco);
    font-size: 20px;
    font-weight: 600;
    text-transform: none;
}


input {
    text-transform: uppercase;
}

input::placeholder {
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 16px;
    text-transform: none;
    color: #9CA3AF;
}


#erro-numero, #erro-nome, #erro-cvv, #erro-validade{
    display: none;
    
}

.inserir img{
    position: relative;
    top: 3px;
    margin-right: 6px;
}

.inserir span{
    font-size: 14px;
    color: #FB7185;
    position: relative;
    bottom: 30px;
    margin: 0;
}

@media screen and (max-width: 600px){
    body, main, .inserir, #enviar, .inserir {
        width: auto;
        margin: 0 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}

